<% @idols.each do |t| %>
<!--
<fieldset>
	<legend><%=t.nameko%></legend>
	이름(일): <%=t.nameja%></br>
	이름(영): <%=t.nameen%></br>
	CV: <%=t.cv%></br>
	성별: <%=t.gender%></br>
	나이: <%=t.age%></br>
	소속: <%=t.productionorunit%></br>
	<% if t.productionorunit2 != t.productionorunit %>
		소속2: <%=t.productionorunit2%></br>
	<% end %>
	키/몸무게: <%=t.height%> / <%=t.weight%></br>
	사이즈(b/w/h): <%=t.b%> / <%=t.w%> / <%=t.h%></br>
	취미: <%=t.hobby%></br>
	생일: <%=t.birth%></br>
	혈액형: <%=t.bloodtype%></br>
	헤어스타일: <%=t.hairstyle%></br>
	출신지: <%=t.areafrom%></br>
	출신매체: <%=t.mediafrom%>
	<% if t.mediafrom2 != t.mediafrom %>
		출신매체2: <%=t.mediafrom2%></br>
	<% end %>
</fieldset>
-->
<div class="box">
<%=image_tag('Hibiki Ganaha.jpg', class: 'card_picture')%>
<!--
<table border="1" cellspacing="0" cellpadding="0" class="table table_click" style="display: none">
	<thead>
		<th colspan="6"><%=t.nameko%></th>
	</thead>
	<tbody>
		<tr>
			<td rowspan="2" scope="row" class="cell_title cell_title_right">이름</td>
			<td colspan="3" class="cell_content"><%=t.nameen%></td>
			<td rowspan="4" colspan="2" class="cell_picture"><%=image_tag('Hibiki Ganaha1.jpg', class: 'small_picture')%></td>
		</tr>
		<tr>
			<td colspan="3" class="cell_content"><%=t.nameja%></td>
		</tr>
		<tr>
			<td scope="row" class="cell_title cell_title_right">CV</td>	
			<td colspan="3" class="cell_content"><%=t.cv%></td>
		</tr>
		<tr>
			<td scope="row" class="cell_title cell_title_right">생일</td>	
			<td colspan="3" class="cell_content"><%=t.birth%></td>
		</tr>
		<tr>
			<td scope="row" rowspan="2" class="cell_title cell_title_right">출신</td>	
			<td colspan="3"rowspan="2" class="cell_content"><%=t.areafrom%></td>
			<td scope="col" class="cell_title cell_title_up">성별</td>
			<td scope="col" class="cell_title cell_title_up">혈액형</td>			
		</tr>
		<tr>
			<td class="cell_content"><%=t.gender%></td>
			<td class="cell_content"><%=t.bloodtype%>형</td>		
		</tr>
		<tr>
			<td scope="col" class="cell_title cell_title_up">연령</td>
			<td scope="col" class="cell_title cell_title_up">신장</td>
			<td scope="col" class="cell_title cell_title_up">체중</td>
			<td scope="col" class="cell_title cell_title_up">B</td>
			<td scope="col" class="cell_title cell_title_up">W</td>
			<td scope="col" class="cell_title cell_title_up">H</td>
		</tr>
		<tr>
			<td class="cell_content"><%=t.age%>세</td>
			<td class="cell_content"><%=t.height%>cm</td>
			<td class="cell_content"><%=t.weight%>kg</td>
			<td class="cell_content"><%=t.b%>cm</td>
			<td class="cell_content"><%=t.w%>cm</td>
			<td class="cell_content"><%=t.h%>cm</td>
		</tr>
		<tr>
			<td scope="row" class="cell_title cell_title_right">취미</td>
			<td colspan="5" class="cell_content"><%=t.hobby%></td>
		</tr>
		<tr>
			<td scope="col" colspan="3" class="cell_title cell_title_up">소속</td>
			<td scope="col" colspan="3" class="cell_title cell_title_up">출신매체</td>
		</tr>		
		<tr>
			<td colspan="3" class="cell_content"><%=t.productionorunit%>
				<% if t.productionorunit2 != "0" %>
				</br><%=t.productionorunit2%>
				<% end %>
			</td>
			<td colspan="3" class="cell_content"><%=t.mediafrom%>
				<% if t.mediafrom2 != "0" %>
				</br><%=t.mediafrom2%>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
-->
<%=image_tag('Hibiki Ganaha1.jpg', class: 'small_picture')%>
<table border="1" cellspacing="0" cellpadding="0" class="table table_click" style="display: none">
	<thead>
		<th colspan="2">▶PROFILE</th>
	</thead>
	<tbody>
		<tr>
			<td rowspan="3" scope="row" class="cell_title cell_title_right">이름</td>
			<td colspan="1" class="cell_content"><%=t.nameko%></td>
			
		</tr>
		<tr>
			<td colspan="1" class="cell_content"><%=t.nameja%></td>
		</tr>
		<tr>
			<td colspan="1" class="cell_content"><%=t.nameen%></td>
		</tr>
		<tr>
			<td scope="row" class="cell_title cell_title_right">CV</td>	
			<td colspan="1" class="cell_content"><%=t.cv%></td>
		</tr>
		<tr>
			<td scope="row" class="cell_title cell_title_right">생일</td>	
			<td colspan="1" class="cell_content"><%=t.birth%> (<%=t.age%>세)</td>
		</tr>
	</tbody>
</table>
<table border="1" cellspacing="0" cellpadding="0" class="table table_click" style="display: none">
	<tbody>
		<tr>
			<td colspan="1" class="cell_content">신장</td>
			<td colspan="1" class="cell_content"><%=t.height%>cm</td>
			<td colspan="1" class="cell_content">체중</td>
			<td colspan="1" class="cell_content"><%=t.weight%>kg</td>
		</tr>
		<tr>
			<td colspan="1" class="cell_content">사이즈</td>
			<td colspan="3" class="cell_content">B <%=t.b%>cm / W <%=t.w%>cm / H <%=t.h%>cm</td>
		</tr>
		<tr>
			<td colspan="1" class="cell_content">출신지</td>
			<td colspan="1" class="cell_content"><%=t.areafrom%></td>
			<td colspan="1" class="cell_content">혈액형</td>
			<td colspan="1" class="cell_content"><%=t.bloodtype%></td>
		</tr>
		<tr>
			<td scope="row" rowspan="2" class="cell_title cell_title_right">출신</td>	
			<td colspan="3"rowspan="2" class="cell_content"><%=t.areafrom%></td>
			<td scope="col" class="cell_title cell_title_up">성별</td>
			<td scope="col" class="cell_title cell_title_up">혈액형</td>			
		</tr>
		<tr>
			<td colspan="1" class="cell_content">취미</td>
			<td colspan="3" class="cell_content"><%=t.hobby%></td>
		</tr>
		<tr>
			<td colspan="1" class="cell_content">소속</td>
			<td colspan="3" class="cell_content"><%=t.productionorunit%></td>
		</tr>
		<tr>
			<td colspan="1" class="cell_content">출신매체</td>
			<td colspan="3" class="cell_content"><%=t.mediafrom%></td>
		</tr>
	</tbody>
</table>
</div>
<% end %>

