<% @idols.each do |t| %>

<div class="box-outter">

	<div class="box-card">
		<table border="1" cellspacing="0" cellpadding="0" class="card_picture_table table table_click">
			<thead>
					<th colspan="1" class="card_picture_table_head cell_head bold kurenai-down">
						<div>
							<span class="card_picture_table_head_string">》<%= t.nameko %></span>
						</div>
					</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<img src='assets/cardpicture/<%=t.nameen.downcase%>.jpg' class='card_picture table_click' onerror="this.src='/assets/cardpicturenotfound.jpg'">
					</td>
					<!--
					<td rowspan="1" class="cell_content picture_cell" style='background-image: url("/assets/Ganaha Hibiki.jpg")'></td>
					-->
				</tr>
			</tbody>
		</table>
		
	</div>
	

	<div class="box-inner" style="display: none;">
		
		<div class="narrow_table">
			<table border="1" cellspacing="0" cellpadding="0" class="profile_table table table_click">
				<thead>
					<td colspan="4" class="cell_head kurenai">》PROFILE</td>	
				</thead>
				<tbody>
					<tr>
						<td rowspan="3" scope="row" class="cell_title cell_title_right">이름</td>
						<td colspan="1" class="cell_content word_narrow"><%=t.nameko%></td>
						<td rowspan="6" colspan="2" class="small_picture_cell picture_cell cell_content" style='background-image: url("/assets/cardpicture/<%=t.nameen.downcase%>.jpg"), url("/assets/smallpicturenotfound.jpg")'></td>
								
							
						
					</tr>
					<tr>
						<td colspan="1" class="cell_content word_narrow jpn"><%=t.nameja%></td>
					</tr>
					<tr>
						<td colspan="1" class="cell_content word_narrow"><%=t.nameen%></td>
					</tr>
					<tr>
						<td scope="row" class="cell_title cell_title_right">CV</td>	
						<td colspan="1" class="cell_content word_narrow"><%=t.cv%></td>
					</tr>
					<tr>
						<td scope="row" class="cell_title cell_title_right">생일</td>	
						<td colspan="1" class="cell_content"><%=t.month%> <span class="unit">월</span> <%=t.day%> <span class="unit">일</span> <span class="unit">(</span>
						<script>
							if (<%=t.age%> < 0) {
								document.write("?");
							} else {
								document.write(<%=t.age%>);
							}
						</script> <span class="unit">세</span> <span class="unit">)</span></td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right word_narrow">신장/체중</td>
						<td colspan="1" class="cell_content cell_content_middle">
							<script>
								if (<%=t.height%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.height%>);
								}
							</script> <span class="unit">cm</span> / <script>
								if (<%=t.weight%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.weight%>);
								}
							</script> <span class="unit">kg</span>
						</td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">사이즈</td>
						<td colspan="3" class="cell_content">
							<span class="unit">B</span> <script>
								if (<%=t.b%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.b%>);
								}
							</script> <span class="unit">cm</span> / <span class="unit">W</span> <script>
								if (<%=t.w%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.w%>);
								}
							</script> <span class="unit">cm</span> / <span class="unit">H</span> <script>
								if (<%=t.h%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.h%>);
								}
							</script> <span class="unit">cm</span>
						</td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">출신지</td>
						<td colspan="1" class="cell_content cell_content_middle word_narrow"><%=t.areafrom%></td>
						<td colspan="1" class="cell_title cell_title_right">혈액형</td>
						<td colspan="1" class="cell_content cell_content_middle"><%=t.bloodtype%></td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">취미</td>
						<td colspan="3" class="cell_content word_narrow"><%=t.hobby%></td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">소속</td>
						<td colspan="3" class="cell_content word_narrow"><%=t.productionorunit%>
							<% if t.productionorunit2 != "0" %>
								</br><%=t.productionorunit2%>
							<% end %>
						</td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">매체</td>
						<td colspan="3" class="cell_content word_narrow"><%=t.mediafromp%> <%=t.mediafromp_1%>
							<% if t.mediafromp_2 != "0" %>
								</br><%=t.mediafromp%> <%=t.mediafromp_2%>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="wide_table" >
		
			<table border="1" cellspacing="0" cellpadding="0" class="profile_table table table_click">
				<thead>
					<th colspan="5" class="cell_head kurenai">》PROFILE</th>
				</thead>
				<tbody>
					<tr>
						<td rowspan="3" scope="row" class="cell_title cell_title_right">이름</td>
						<td colspan="3" class="cell_content word_narrow"><%=t.nameko%></td>
						<td rowspan="11" colspan="1" class="small_picture_cell picture_cell cell_content" style='background-image: url("/assets/cardpicture/<%=t.nameen.downcase%>.jpg"), url("/assets/smallpicturenotfound.jpg")'></td>
								
					</tr>
					<tr>
						<td colspan="3" class="cell_content word_narrow jpn"><%=t.nameja%></td>
					</tr>
					<tr>
						<td colspan="3" class="cell_content word_narrow"><%=t.nameen%></td>
					</tr>
					<tr>
						<td scope="row" class="cell_title cell_title_right">CV</td>	
						<td colspan="3" class="cell_content word_narrow"><%=t.cv%></td>
					</tr>
					<tr>
						<td scope="row" class="cell_title cell_title_right">생일</td>	
						<td colspan="3" class="cell_content"><%=t.month%> <span class="unit">월</span> <%=t.day%> <span class="unit">일</span> <span class="unit">(</span>
						<script>
							if (<%=t.age%> < 0) {
								document.write("?");
							} else {
								document.write(<%=t.age%>);
							}
						</script> <span class="unit">세</span><span class="unit">)</span></td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right word_narrow">신장/체중</td>
						<td colspan="3" class="cell_content cell_content_middle">
							<script>
								if (<%=t.height%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.height%>);
								}
							</script> <span class="unit">cm</span> / <script>
								if (<%=t.weight%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.weight%>);
								}
							</script> <span class="unit">kg</span>
						</td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">사이즈</td>
						<td colspan="3" class="cell_content">
							<span class="unit">B</span> <script>
								if (<%=t.b%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.b%>);
								}
							</script> <span class="unit">cm</span> / <span class="unit">W</span> <script>
								if (<%=t.w%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.w%>);
								}
							</script> <span class="unit">cm</span> / <span class="unit">H</span> <script>
								if (<%=t.h%> < 0) {
									document.write("?");
								} else {
									document.write(<%=t.h%>);
								}
							</script> <span class="unit">cm</span>
						</td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">출신지</td>
						<td colspan="1" class="cell_content cell_content_middle1 word_narrow"><%=t.areafrom%></td>
						<td colspan="1" class="cell_title cell_title_right">혈액형</td>
						<td colspan="1" class="cell_content cell_content_middle2"><%=t.bloodtype%></td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">취미</td>
						<td colspan="3" class="cell_content word_narrow"><%=t.hobby%></td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">소속</td>
						<td colspan="3" class="cell_content word_narrow"><%=t.productionorunit%>
							<% if t.productionorunit2 != "0" %>
								</br><%=t.productionorunit2%>
							<% end %>
						</td>
					</tr>
					<tr>
						<td colspan="1" class="cell_title cell_title_right">매체</td>
						<td colspan="3" class="cell_content word_narrow"><%=t.mediafromp%> <%=t.mediafromp_1%>
							<% if t.mediafromp_2 != "0" %>
								</br><%=t.mediafromp%> <%=t.mediafromp_2%>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
			<!--
			<img src='assets/Hibiki Ganaha1.jpg' id='wide_small_picture' class='small_picture table_click'>
			-->		
		</div>
		
	</div>
	
	<hr class="hr"></hr>
	
</div>
<% end %>

