<!--
<fieldset>
	<legend>검색조건</legend>
	
	<%= form_tag({controller: :list, action: :result},{id: 'search_form'}) do%>
		<div class='select_field'>
		성별:
		<%=select_tag 'gender', options_for_select({'여성'=>'F','남성'=>'M'}), {id: 'form_gender', class: 'select_box', include_blank: '전체'}%>
		
		</div>
		<div class='select_field'>
		나이:
		<%=select_tag 'age', options_for_select({'6-8세'=>'6-8','9-11세'=>'9-11','12-14세'=>'12-14','15-17세'=>'15-17','18-19세'=>'18-19','20-24세'=>'20-24','25-29세'=>'25-29','30-34세'=>'30-34','35-40세'=>'35-40','그 외'=>'5-41'}), {id: 'form_age', include_blank: '전체'}%>
		</div>
		<div class='select_field'>
		신장:
		<%=select_tag 'heightMin', options_for_select(@heightMinRangeArray, @heightMinRangeArray.values.first.to_i), {id: 'form_heightMin', class: 'select_min select_box'}%>cm 이상
		<%=select_tag 'heightMax', options_for_select(@heightMaxRangeArray, @heightMaxRangeArray.values.last.to_i), {id: 'form_heightMax', class: 'select_max select_box'}%>cm 미만
		</div>
		<div class='select_field'>
		체중:
		<%=select_tag 'weightMin', options_for_select(@weightMinRangeArray, @weightMinRangeArray.values.first.to_i), {id: 'form_weightMin', class: 'select_min select_box'}%>kg 이상
		<%=select_tag 'weightMax', options_for_select(@weightMaxRangeArray, @weightMaxRangeArray.values.last.to_i), {id: 'form_weightMax', class: 'select_max select_box'}%>kg 미만
		</div>
		<div class='select_field'>
		사이즈(B/W/H):
		<span class='select_field'>
		<%=select_tag 'bMin', options_for_select(@bMinRangeArray, @bMinRangeArray.values.first.to_i), {id: 'form_bMin', class: 'select_min select_box'}%>cm 이상
		<%=select_tag 'bMax', options_for_select(@bMaxRangeArray, @bMaxRangeArray.values.last.to_i), {id: 'form_bMax', class: 'select_max select_box'}%>cm 미만
		</span>
		//
		<span class='select_field'>
		<%=select_tag 'wMin', options_for_select(@wMinRangeArray, @wMinRangeArray.values.first.to_i), {id: 'form_wMin', class: 'select_min select_box'}%>cm 이상
		<%=select_tag 'wMax', options_for_select(@wMaxRangeArray, @wMaxRangeArray.values.last.to_i), {id: 'form_wMax', class: 'select_max select_box'}%>cm 미만
		</span>
		//
		<span class='select_field'>
		<%=select_tag 'hMin', options_for_select(@hMinRangeArray, @hMinRangeArray.values.first.to_i), {id: 'form_hMin', class: 'select_min select_box'}%>cm 이상
		<%=select_tag 'hMax', options_for_select(@hMaxRangeArray, @hMaxRangeArray.values.last.to_i), {id: 'form_hMax', class: 'select_max select_box'}%>cm 미만
		</span>
		</div>
		<div class='select_field'>
		소속:
		<div class='select_field'>
		<%=select_tag 'productionorunit', options_from_collection_for_select(@productionorunit,:productionorunit,:productionorunit), {id: 'form_productionorunit', class: 'select_box', include_blank: '모든 값'}%>
		</div>
		</div>
		
		<%=submit_tag '검색'%>
	<%end%>	
</fieldset>

-->
<div class="box-outter box-outter-search">
<div class="search-wrapper">
	
	<h1><strong>당신의 아이돌을 검색하시오</strong></h1>

	<%= form_tag({controller: :list, action: :result}, {class: 'search_table'}) do%>
		<table border="1" cellspacing="0" cellpadding="0" id="search_form" class="profile_table table table_click">
			<thead>
				<th colspan="4" class="cell_head kurenai">》PROFILE</th>
			</thead>
			<tbody>
				<tr>
					<td colspan="2" scope="row" class="cell_title cell_title_right">성별</td>
					<td colspan="2" class="cell_content">
						<div class='select_field'>
							<%=select_tag 'gender', options_for_select({'여성'=>'F','남성'=>'M'}), {id: 'form_gender', class: 'select_box select_box_full_length', include_blank: '전체'}%>	
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" rowspan="2" scope="row" class="cell_title cell_title_right">연령</td>
					<td colspan="2" class="cell_content">
						<div class='select_field'>
							<%=select_tag 'age', options_for_select({'6-8세'=>'6-8','9-11세'=>'9-11','12-14세'=>'12-14','15-17세'=>'15-17','18-19세'=>'18-19','20-24세'=>'20-24','25-29세'=>'25-29','30-34세'=>'30-34','35-40세'=>'35-40','그 외'=>'5-41'}), {id: 'form_age', class: 'select_box select_box_full_length', include_blank: '전체'}%>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="cell_content cell_check_box cbox">
						<label><input type="checkbox" name="ageUnknown" value="0" checked="checked" class="check_box check_box_unknown">
						<span class="check_box_desc check_box_unknown">연령불명 포함</span></label>
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="2" rowspan="2" scope="row" class="cell_title cell_title_right">신장</td>
					
					<td colspan="1" class="cell_content cell_content_half">
						
						<%=select_tag 'heightMin', options_for_select(@heightMinRangeArray, @heightMinRangeArray.values.first.to_i), {id: 'form_heightMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">cm 이상</span>
						
					</td>
					<td colspan="1" class="cell_content cell_content_half">
					
						<%=select_tag 'heightMax', options_for_select(@heightMaxRangeArray, @heightMaxRangeArray.values.last.to_i), {id: 'form_heightMax', class: 'select_max select_box select_box_half_length'}%>
							<span class="unit">cm 미만</span>
						
					</td>
					
				</tr>
				<tr>
					<td colspan="2" class="cell_content cell_check_box cbox">
						<label><input type="checkbox" name="heightUnknown" value="0" checked="checked" class="check_box check_box_unknown">
						<span class="check_box_desc check_box_unknown">신장불명 포함</span></label>
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="2" rowspan="2" scope="row" class="cell_title cell_title_right">체중</td>	
					<td class="cell_content cell_content_half">
						<%=select_tag 'weightMin', options_for_select(@weightMinRangeArray, @weightMinRangeArray.values.first.to_i), {id: 'form_weightMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">kg 이상</span>
					</td>
					<td colspan="1" class="cell_content cell_content_half">
						<%=select_tag 'weightMax', options_for_select(@weightMaxRangeArray, @weightMaxRangeArray.values.last.to_i), {id: 'form_weightMax', class: 'select_max select_box select_box_half_length'}%>
							<span class="unit">kg 미만</span>
					
					</td>
				</tr>
				<tr>
					<td colspan="2" class="cell_content cell_check_box cbox">
						<label><input type="checkbox" name="weightUnknown" value="0" checked="checked" class="check_box check_box_unknown">
						<span class="check_box_desc check_box_unknown">체중불명 포함</span></label>
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="1" rowspan="4" scope="row" class="cell_title">사이즈</td>
					<td colspan="1" scope="row" class="cell_title cell_title_half">B</td>
					<td class="cell_content cell_content_half">
					
						<%=select_tag 'bMin', options_for_select(@bMinRangeArray, @bMinRangeArray.values.first.to_i), {id: 'form_bMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">cm 이상</span>
					
					</td>
					<td colspan="1" class="cell_content cell_content_half">
						
						<%=select_tag 'bMax', options_for_select(@bMaxRangeArray, @bMaxRangeArray.values.last.to_i), {id: 'form_bMax', class: 'select_max select_box select_box_half_length'}%>
							<span class="unit">cm 미만</span>
					
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="1" scope="row" class="cell_title cell_title_half">W</td>
					<td class="cell_content cell_content_half">
						
						<%=select_tag 'wMin', options_for_select(@wMinRangeArray, @wMinRangeArray.values.first.to_i), {id: 'form_wMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">cm 이상</span>
					
					</td>
					<td colspan="1" class="cell_content cell_content_half">
			
						<%=select_tag 'wMax', options_for_select(@wMaxRangeArray, @wMaxRangeArray.values.last.to_i), {id: 'form_wMax', class: 'select_max select_box select_box_half_length'}%>
							<span class="unit">cm 미만</span>
					
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="1" scope="row" class="cell_title cell_title_half">H</td>
					<td class="cell_content cell_content_half">
					
						<%=select_tag 'hMin', options_for_select(@hMinRangeArray, @hMinRangeArray.values.first.to_i), {id: 'form_hMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">cm 이상</span>
					
					</td>
					<td colspan="1" class="cell_content cell_content_half">
						
						<%=select_tag 'hMax', options_for_select(@hMaxRangeArray, @hMaxRangeArray.values.last.to_i), {id: 'form_hMax', class: 'select_max select_box select_box_half_length'}%>
								<span class="unit">cm 미만</span>
					
					</td>
				</tr>
				<tr>
					<td colspan="1" scope="row" class="cell_title cell_title_half"></td>
					<td colspan="2" class="cell_content cell_check_box cbox">
						<label><input type="checkbox" name="bwhUnknown" value="0" checked="checked" class="check_box check_box_unknown">
						<span class="check_box_desc check_box_unknown">사이즈불명 포함</span></label>
					</td>
				</tr>
				<tr id="productionorunit_cell_1">
					<td colspan="2" scope="row" class="cell_title cell_title_right">소속</td>
					<td colspan="2" class="cell_content">
						<div class='select_field'>
							<%=select_tag 'productionorunit', options_from_collection_for_select(@productionorunit,:productionorunit,:productionorunit), {id: 'form_productionorunit', class: 'select_box select_box_full_length', include_blank: '전체'}%>
						</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		
		<!--추가 검색-->
		<table border="1" cellspacing="0" cellpadding="0" id="search_form2" class="profile_table table table_click">
			<thead>
				<th colspan="8" class=""><button type="button" class="search-btn search_additional">상세검색하기</button></th>
			</thead>
			<tbody>
				<!--
				<tr>
					<td colspan="2" scope="row" class="cell_title cell_title_right">성별</td>
					<td colspan="6" class="cell_content">
						<div class='select_field'>
							<%=select_tag 'gender', options_for_select({'여성'=>'F','남성'=>'M'}), {id: 'form_gender', class: 'select_box select_box_full_length', include_blank: '전체'}%>	
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" rowspan="2" scope="row" class="cell_title cell_title_right">연령</td>
					<td colspan="6" class="cell_content">
						<div class='select_field'>
							<%=select_tag 'age', options_for_select({'6-8세'=>'6-8','9-11세'=>'9-11','12-14세'=>'12-14','15-17세'=>'15-17','18-19세'=>'18-19','20-24세'=>'20-24','25-29세'=>'25-29','30-34세'=>'30-34','35-40세'=>'35-40','그 외'=>'5-41'}), {id: 'form_age', class: 'select_box select_box_full_length', include_blank: '전체'}%>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="6" class="cell_content cell_check_box cbox">
						<input type="checkbox" name="ageUnknown" value="0" checked="checked" class="check_box">
						<span class=check_box_desc>연령불명 포함</span>
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="2" rowspan="1" scope="row" class="cell_title cell_title_right">체중</td>	
					<td colspan="3" class="cell_content cell_content_half">
						<%=select_tag 'weightMin', options_for_select(@weightMinRangeArray, @weightMinRangeArray.values.first.to_i), {id: 'form_weightMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">kg 이상</span>
					</td>
					<td colspan="3" class="cell_content cell_content_half">
						<%=select_tag 'weightMax', options_for_select(@weightMaxRangeArray, @weightMaxRangeArray.values.last.to_i), {id: 'form_weightMax', class: 'select_max select_box select_box_half_length'}%>
							<span class="unit">kg 미만</span>
					
					</td>
				</tr>
				-->
				<tr class='select_field'>
					<td colspan="2" rowspan="1" scope="row" class="cell_title cell_title_right">헤어</br>스타일</td>	
					<td colspan="2" class="cell_content cell_content_third">
						<span class="unit">색상</span></br>
						<%=select_tag 'hairstyle', options_for_select(@hairstyle), {class: 'select_box select_box_third_length', include_blank: '미선택'}%>
							
					</td>
					<td colspan="2" class="cell_content cell_content_third">
						<span class="unit">스타일</span></br>
						<%=select_tag 'hairstyle2', options_for_select(@hairstyle2), {class: 'select_box select_box_third_length', include_blank: '미선택'}%>
							
					</td>
					<td colspan="2" class="cell_content cell_content_third">
						<span class="unit">머릿결</span></br>
						<%=select_tag 'hairstyle3', options_for_select(@hairstyle3), {class: 'select_box select_box_third_length', include_blank: '미선택'}%>
							
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="2" rowspan="1" scope="row" class="cell_title cell_title_right">기타</td>	
					<td colspan="2" class="cell_content cell_content_third">
						<span class="unit">특징1</span></br>
						<%=select_tag 'feature', options_for_select(@feature), {class: 'select_box select_box_third_length', include_blank: '미선택'}%>
							
					</td>
					<td colspan="2" class="cell_content cell_content_third">
						<span class="unit">특징2</span></br>
						<%=select_tag 'feature2', options_for_select(@feature), {class: 'select_box select_box_third_length', include_blank: '미선택'}%>
							
					</td>
					<td colspan="2" class="cell_content cell_content_third">
						<span class="unit">특징3</span></br>
						<%=select_tag 'feature3', options_for_select(@feature), {class: 'select_box select_box_third_length', include_blank: '미선택'}%>
							
					</td>
				</tr>
				<tr>
					<td colspan="2" scope="row" class="cell_title cell_title_right">소속</td>
					<td colspan="6" class="cell_content">
						<div class='select_field'>
							<% @mediafromP_1.each do |key, array| %>
								<div class="check_box_multisel_group_box">
									<label><input type="checkbox" name="productionorunit_multisel_group" value="0" checked="checked" class="check_box check_box_multisel_group">
									<span class="check_box_desc"><%= key.to_s %></span></label>
									<div class="check_box_multisel_indiv_box">
										<% array.each do |val| %>
											<label><input type="checkbox" name="productionorunit_multisel[]" value="<%= val.to_s %>" checked="checked" class="check_box check_box_multisel_indiv"/>
												<span class="check_box_desc"><%= val.to_s %></span></label></br>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					</td>
				</tr>
			</body>
		</table>
				
	
	<button type="submit" class="search-btn">검색</button>
	
	<%end%>	
	
	

<script src="/assets/application.js" type="text/javascript"></script>