<!--
<fieldset>
	<legend>검색조건</legend>
	
	<%= form_tag({controller: :list, action: :result},{id: 'search_form'}) do%>
		<div class='select_field'>
		성별:
		<%=select_tag 'gender', options_for_select({'여성'=>'F','남성'=>'M'}), {id: 'form_gender', class: 'select_box', include_blank: '전체'}%>
		
		</div>
		<div class='select_field'>
		나이:
		<%=select_tag 'age', options_for_select({'6-8세'=>'6-8','9-11세'=>'9-11','12-14세'=>'12-14','15-17세'=>'15-17','18-19세'=>'18-19','20-24세'=>'20-24','25-29세'=>'25-29','30-34세'=>'30-34','35-40세'=>'35-40','그 외'=>'5-41'}), {id: 'form_age', include_blank: '전체'}%>
		</div>
		<div class='select_field'>
		신장:
		<%=select_tag 'heightMin', options_for_select(@heightMinRangeArray, @heightMinRangeArray.values.first.to_i), {id: 'form_heightMin', class: 'select_min select_box'}%>cm 이상
		<%=select_tag 'heightMax', options_for_select(@heightMaxRangeArray, @heightMaxRangeArray.values.last.to_i), {id: 'form_heightMax', class: 'select_max select_box'}%>cm 미만
		</div>
		<div class='select_field'>
		체중:
		<%=select_tag 'weightMin', options_for_select(@weightMinRangeArray, @weightMinRangeArray.values.first.to_i), {id: 'form_weightMin', class: 'select_min select_box'}%>kg 이상
		<%=select_tag 'weightMax', options_for_select(@weightMaxRangeArray, @weightMaxRangeArray.values.last.to_i), {id: 'form_weightMax', class: 'select_max select_box'}%>kg 미만
		</div>
		<div class='select_field'>
		사이즈(B/W/H):
		<span class='select_field'>
		<%=select_tag 'bMin', options_for_select(@bMinRangeArray, @bMinRangeArray.values.first.to_i), {id: 'form_bMin', class: 'select_min select_box'}%>cm 이상
		<%=select_tag 'bMax', options_for_select(@bMaxRangeArray, @bMaxRangeArray.values.last.to_i), {id: 'form_bMax', class: 'select_max select_box'}%>cm 미만
		</span>
		//
		<span class='select_field'>
		<%=select_tag 'wMin', options_for_select(@wMinRangeArray, @wMinRangeArray.values.first.to_i), {id: 'form_wMin', class: 'select_min select_box'}%>cm 이상
		<%=select_tag 'wMax', options_for_select(@wMaxRangeArray, @wMaxRangeArray.values.last.to_i), {id: 'form_wMax', class: 'select_max select_box'}%>cm 미만
		</span>
		//
		<span class='select_field'>
		<%=select_tag 'hMin', options_for_select(@hMinRangeArray, @hMinRangeArray.values.first.to_i), {id: 'form_hMin', class: 'select_min select_box'}%>cm 이상
		<%=select_tag 'hMax', options_for_select(@hMaxRangeArray, @hMaxRangeArray.values.last.to_i), {id: 'form_hMax', class: 'select_max select_box'}%>cm 미만
		</span>
		</div>
		<div class='select_field'>
		소속:
		<div class='select_field'>
		<%=select_tag 'productionorunit', options_from_collection_for_select(@productionorunit,:productionorunit,:productionorunit), {id: 'form_productionorunit', class: 'select_box', include_blank: '모든 값'}%>
		</div>
		</div>
		
		<%=submit_tag '검색'%>
	<%end%>	
</fieldset>

-->
<div class="box-outter">
<div class="search-wrapper">
	
	<h1><strong>당신의 아이돌을 검색하시오</strong></h1>

	<%= form_tag({controller: :list, action: :result},{id: 'search_form', class: 'search_table'}) do%>
		<table border="1" cellspacing="0" cellpadding="0" class="table table_click">
			<thead>
				<th colspan="4" class="cell_head kurenai-down">》PROFILE</th>
			</thead>
			<tbody>
				<tr>
					<td colspan="2" scope="row" class="cell_title cell_title_right">성별</td>
					<td colspan="2" class="cell_content">
						<div class='select_field'>
							<%=select_tag 'gender', options_for_select({'여성'=>'F','남성'=>'M'}), {id: 'form_gender', class: 'select_box select_box_full_length', include_blank: '전체'}%>	
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" scope="row" class="cell_title cell_title_right">연령</td>
					<td colspan="2" class="cell_content">
						<div class='select_field'>
							<%=select_tag 'age', options_for_select({'6-8세'=>'6-8','9-11세'=>'9-11','12-14세'=>'12-14','15-17세'=>'15-17','18-19세'=>'18-19','20-24세'=>'20-24','25-29세'=>'25-29','30-34세'=>'30-34','35-40세'=>'35-40','그 외'=>'5-41'}), {id: 'form_age', class: 'select_box select_box_full_length', include_blank: '전체'}%>
						</div>
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="2" scope="row" class="cell_title cell_title_right">신장</td>
					
					<td colspan="1" class="cell_content cell_content_half">
						
						<%=select_tag 'heightMin', options_for_select(@heightMinRangeArray, @heightMinRangeArray.values.first.to_i), {id: 'form_heightMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">cm 이상</span>
						
					</td>
					<td colspan="1" class="cell_content cell_content_half">
					
						<%=select_tag 'heightMax', options_for_select(@heightMaxRangeArray, @heightMaxRangeArray.values.last.to_i), {id: 'form_heightMax', class: 'select_max select_box select_box_half_length'}%>
							<span class="unit">cm 미만</span>
						
					</td>
					
				</tr>
				<tr class='select_field'>
					<td colspan="2" scope="row" class="cell_title cell_title_right">체중</td>	
					<td class="cell_content cell_content_half">
						<%=select_tag 'weightMin', options_for_select(@weightMinRangeArray, @weightMinRangeArray.values.first.to_i), {id: 'form_weightMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">kg 이상</span>
					</td>
					<td colspan="1" class="cell_content cell_content_half">
						<%=select_tag 'weightMax', options_for_select(@weightMaxRangeArray, @weightMaxRangeArray.values.last.to_i), {id: 'form_weightMax', class: 'select_max select_box select_box_half_length'}%>
							<span class="unit">kg 미만</span>
					
					</td>
				<tr class='select_field'>
					<td colspan="1" rowspan="3" scope="row" class="cell_title">사이즈</td>
					<td colspan="1" scope="row" class="cell_title cell_title_half">B</td>
					<td class="cell_content cell_content_half">
					
						<%=select_tag 'bMin', options_for_select(@bMinRangeArray, @bMinRangeArray.values.first.to_i), {id: 'form_bMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">cm 이상</span>
					
					</td>
					<td colspan="1" class="cell_content cell_content_half">
						
						<%=select_tag 'bMax', options_for_select(@bMaxRangeArray, @bMaxRangeArray.values.last.to_i), {id: 'form_bMax', class: 'select_max select_box select_box_half_length'}%>
							<span class="unit">cm 미만</span>
					
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="1" scope="row" class="cell_title cell_title_half">W</td>
					<td class="cell_content cell_content_half">
						
						<%=select_tag 'wMin', options_for_select(@wMinRangeArray, @wMinRangeArray.values.first.to_i), {id: 'form_wMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">cm 이상</span>
					
					</td>
					<td colspan="1" class="cell_content cell_content_half">
			
						<%=select_tag 'wMax', options_for_select(@wMaxRangeArray, @wMaxRangeArray.values.last.to_i), {id: 'form_wMax', class: 'select_max select_box select_box_half_length'}%>
							<span class="unit">cm 미만</span>
					
					</td>
				</tr>
				<tr class='select_field'>
					<td colspan="1" scope="row" class="cell_title cell_title_half">H</td>
					<td class="cell_content cell_content_half">
					
						<%=select_tag 'hMin', options_for_select(@hMinRangeArray, @hMinRangeArray.values.first.to_i), {id: 'form_hMin', class: 'select_min select_box select_box_half_length'}%>
							<span class="unit">cm 이상</span>
					
					</td>
					<td colspan="1" class="cell_content cell_content_half">
						
						<%=select_tag 'hMax', options_for_select(@hMaxRangeArray, @hMaxRangeArray.values.last.to_i), {id: 'form_hMax', class: 'select_max select_box select_box_half_length'}%>
								<span class="unit">cm 미만</span>
					
					</td>
				</tr>
				<tr>
					<td colspan="2" scope="row" class="cell_title cell_title_right">연령</td>
					<td colspan="2" class="cell_content">
						<div class='select_field'>
							<%=select_tag 'productionorunit', options_from_collection_for_select(@productionorunit,:productionorunit,:productionorunit), {id: 'form_productionorunit', class: 'select_box select_box_full_length', include_blank: '모든 값'}%>
						</div>
					</td>
				</tr>
			
			</tbody>
		</table>
	
	<%=submit_tag '검색'%>
	
	<%end%>	
	
	


</div>


</div>